@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* transparency constants  */
	--dim: .8;
	--half: .5;
	--tran: .2;

	/* primary color settings */
	--primary-hue: 121;
	--primary-sat: 49%;
	--primary-lit: 41%;
	--primary-lit-light: 62%;
	--primary-lit-dark: 29%;
	
	/* primary color setups */
	--primary-hs: var(--primary-hue), var(--primary-sat);
	--primary-hsl: var(--primary-hs), var(--primary-lit);
	--primary-hsl-light: var(--primary-hs), var(--primary-lit-light);
	--primary-hsl-dark: var(--primary-hs), var(--primary-lit-dark);
	
	/* primary color variants */
	--primary: hsl(var(--primary-hsl));
	--primary-light: hsl(var(--primary-hsl-light));
	--primary-dark: hsl(var(--primary-hsl-dark));
	--primary-dim: hsl(var(--primary-hsl), var(--dim));
	--primary-half: hsl(var(--primary-hsl), var(--half));
	--primary-tran: hsl(var(--primary-hsl), var(--tran));

	/* secondary color settings */
	--secondary-hue: 23;
	--secondary-sat: 37%;
	--secondary-lit: 29%;
	--secondary-lit-light: 37%;
	--secondary-lit-dark: 23%;
	
	/* secondary color setups */
	--secondary-hs: var(--secondary-hue), var(--secondary-sat);
	--secondary-hsl: var(--secondary-hs), var(--secondary-lit);
	--secondary-hsl-light: var(--secondary-hs), var(--secondary-lit-light);
	--secondary-hsl-dark: var(--secondary-hs), var(--secondary-lit-dark);
	
	/* secondary color variants */
	--secondary: hsl(var(--secondary-hsl));
	--secondary-light: hsl(var(--secondary-hsl-light));
	--secondary-dark: hsl(var(--secondary-hsl-dark));
	--secondary-dim: hsl(var(--secondary-hsl), var(--dim));
	--secondary-half: hsl(var(--secondary-hsl), var(--half));
	--secondary-tran: hsl(var(--secondary-hsl), var(--tran));

	/* accent color settings */
	--accent-hue: 215;
	--accent-sat: 70%;
	--accent-lit: 64%;
	--accent-lit-light: 76%;
	--accent-lit-dark: 40%;
	
	/* accent color setups */
	--accent-hs: var(--accent-hue), var(--accent-sat);
	--accent-hsl: var(--accent-hs), var(--accent-lit);
	--accent-hsl-light: var(--accent-hs), var(--accent-lit-light);
	--accent-hsl-dark: var(--accent-hs), var(--accent-lit-dark);
	
	/* accent color variants */
	--accent: hsl(var(--accent-hsl));
	--accent-light: hsl(var(--accent-hsl-light));
	--accent-dark: hsl(var(--accent-hsl-dark));
	--accent-dim: hsl(var(--accent-hsl), var(--dim));
	--accent-half: hsl(var(--accent-hsl), var(--half));
	--accent-tran: hsl(var(--accent-hsl), var(--tran));

	--light: #dadada;
	--dark: #121212;

}

* {
	box-sizing: border-box;
}

body {
	letter-spacing: .8px;
	margin: 0;
	padding: 0;
  color: var(--accent);
  background: var(--primary-light);
  font-family: Arial, Helvetica, sans-serif;
	height: 200vh;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.2rem;
}

h3 {
	font-size: 1.7rem;
}

nav {
	background-color: var(--primary-dark);
	position: sticky;
	top: 0;
	padding: 0;
	
}

nav .logo {
	color: var(--secondary-half);
	width: 100%;
	text-align: center;
	line-height: 2.1rem;
	font-size: 2.5rem;
	font-weight: 700;
	font-family: cursive;
	text-shadow: 1px 1px 0 var(--light), -1px -1px 0 var(--dark);
	box-shadow: 0 0 7px var(--dark), inset 0 4px 5px -5px var(--primary-light), inset 0 -5px 5px -5px var(--secondary-dark);
}

nav .menu-icon {
	position: absolute;
	top: 0;
	right: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 15%;
	height: 100%;
	cursor: pointer;
	aspect-ratio: 3/4;
}

.menu-icon .menu-bar {
	transition: background-color .2s;
	height: 12%;
	width: 100%;
	background-color: var(--primary-light);
	border-radius: 999px;
	box-shadow: 0 1px 2px var(--dark);
}

.menu-icon:hover .menu-bar {
	background-color: var(--accent-light);
}

a {
	color: var(--accent-dark);
}