@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* transparency constants  */
	--dim: .8;
	--half: .5;
	--tran: .2;

	/* primary color settings */
	--primary-hue: 121;
	--primary-sat: 49%;
	--primary-lit: 41%;
	--primary-lit-light: 62%;
	--primary-lit-dark: 29%;
	
	/*  primary color setups */
	--primary-hs: var(--primary-hue), var(--primary-sat);
	--primary-hsl: var(--primary-hs), var(--primary-lit);
	--primary-hsl-light: var(--primary-hs), var(--primary-lit-light);
	--primary-hsl-dark: var(--primary-hs), var(--primary-lit-dark);
	
	/* primary color variants */
	--primary: hsl(var(--primary-hsl));
	--primary-light: hsl(var(--primary-hsl-light));
	--primary-dark: hsl(var(--primary-hsl-dark));
	--primary-dim: hsl(var(--primary-hsl), var(--dim));
	--primary-half: hsl(var(--primary-hsl), var(--half));
	--primary-tran: hsl(var(--primary-hsl), var(--tran));

	--secondary-hue: 23;
	--secondary-sat: 37%;
	--secondary-lit: 32%;

	--accent-hue: 215;
	--accent-sat: 70%;
	--accent-lit: 70%;
	
	--secondary-hsl: var(--secondary-hue), var(--secondary-sat), var(--secondary-lit);
	--accent-hsl: var(--accent-hue), var(--accent-sat), var(--accent-lit);
	
	--secondary: hsl(var(--secondary-hsl));
	--accent: hsl(var(--accent-hsl));

}

body {
  color: var(--secondary);
  background: var(--primary-light);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
	background-color: var(--primary-dark);
}